.profile__description {
  margin: 0;
  padding: 0;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 122.25%;
  color: #FFF;
  grid-area: description;
  align-self: start;
}
