.profile__info {
  display: grid;
  grid-template-rows: repeat(3, auto);
  grid-template-columns: repeat(2, auto);
  grid-template-areas:
  "avatar name edit-button"
  "avatar description description";
  align-content: space-between;
  justify-content: space-between;
  column-gap: 18px;
}